body {
  margin: 0;
  background: linear-gradient(to bottom, #70c5ce, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #70c5ce;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 10px;
}
